<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>
    <link rel="stylesheet" href="/static/CSS/Style.css">
</head>
<body class="terminos">
    <h2 class="tituloTerminos ">Términos y condiciones</h2>
    <p>1.	Al realizar una compra, recibirás en tu casilla de correo electronico una confirmación de que la orden de tu pedido fue aceptada junto a un NÚMERO DE PEDIDO. La entrega se realizará después de acreditado tu pago. </p>
    <p>2.	El plazo de entrega máximo está contemplado dentro de 15 días hábiles (No se incluyen fines de semana ni feriados). Pudiendo variar de acuerdo a la zona del país en que te encuentres, así como también por los tiempos manejados por la empresa que realice el envío. </p>
    
    <h2 class="tituloTerminos ">Política de Devoluciones</h2>
    <p>1.	En caso de que haya algún problema con su producto comuníquese con nosotros a la brevedad y evaluaremos su caso puntualmente (defectos derivados del uso incorrecto del producto no serán cubiertos y el cliente será el único responsable). </p>
    <p>2.	Si luego de recibida su compra, el producto tiene defectos de fabricación o de calidad, haremos la reposición del mismo. Los cambios se realizarán una sola vez dentro de los 30 días a partir de la fecha de adquisición del producto. </p>
    <p>3.	Será necesario que nos haga llegar el producto, el cual deberá estar en las condiciones que fue recibido, con sus etiquetas y en el packaging original. </p>
    <p>4.	No realizamos reembolso de dinero en ningún caso. </p>

    <h2 class="tituloTerminos ">Envío</h2>
    <p>El envío y la fecha de entrega será pactado luego de la compra a través de la empresa que elija el cliente o a convenir. </p>

    <h2 class="tituloTerminos ">Políticas de privacidad</h2>
    <p>Todos los datos recolectados son con el solo fin de mejorar la experiencia en este sitio.
    <p>Los datos no serán entregados a terceros para ningún tipo de manipulación. </p>
    <p>Las  cookies de opciones de pantalla duran un año. Si seleccionas «Recuérdarme», tu acceso perdurará durante dos semanas. Si sales de tu cuenta, las cookies de acceso se eliminarán. </p>
    <p>De los usuarios que se registran en nuestra web, también almacenamos la información personal que proporcionan en su perfil de usuario. Todos los usuarios pueden ver, editar o eliminar su información personal en cualquier momento (excepto que no pueden cambiar su nombre de usuario). Los administradores de la web también pueden ver y editar esa información. </p>
        
</body>
</html>